body {
    background: lightyellow;
}

button {
    letter-spacing: 1px;
    border-radius: 25px 25px 25px 25px;
}

#jumbotron {
    border-radius: 70px 70px 70px 70px;
    background-color: lightblue;
    float: left;
}

#topic-form {
    margin-top: 50px;
    float: right;
    margin-right: 20px;
}
